body {
    background: linear-gradient(45deg, #FFD4E5, #BDE8EF, #B7D784, #FEFFA2, #e0cdff);
}

.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 98.2vh;
}

.title {
    font-weight: bold;
    font-size: 4rem;
}

.timer {
    font-size: 3rem;
}

.funfactTitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.funfactText {
    font-size: 1.5rem;
}

.funfactDiv {
    background: lightblue;
    border-radius: 1vh;
    margin-top: 2rem;
    padding: 1rem;
}